body{
    background-color: #516091;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: #EEF3AD;
    text-align: center;
}

h2{
    color: #EEF3AD;
    text-align: justify;
}
h3{
    color: #EEF3AD;
    text-align: justify;
}
p{
    color: #EEF3AD;
    text-align: justify;
}



a{
    color: #ADEBBE;
    text-align: justify;
}

ol{
    color: #EEF3AD;
}

table{
    color: #EEF3AD;
}